@tailwind base;       /* Importing Tailwind's base styles */
@tailwind components; /* Importing Tailwind's component styles */
@tailwind utilities;  /* Importing Tailwind's utility styles */

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3; /* Applying Tailwind CSS styles to h1 */
  }
}